#color{
    color: azure;
}
.ab{
    background-color: blanchedalmond;
    height: 40%;
    
}

#title{
    padding:17% 0 0 17%;
    color:white;
}
#subtitle,#subsubtitle{
    text-align: center;
    color: azure;
}
.form-control{
    width: 60%;
    text-align: center;
    margin: 0 0% 0 20%;

}
.img-responsive{
    background-attachment: fixed;
    background-size: cover;
    min-height: 500px;
    background-image: url('/assets/netflix.jpg');
    
}
#abc{
    width: 30%;
    height: 30%;
    margin: 0 0 0 35%;
}