<div class="img-responsive">
    <div class="dropdown">
    <div>
        <h1 id=title class="our-story-card-title" data-uia="hero-title">Unlimited movies, TV shows and more.</h1>
        <h3 id=subtitle >Watch anywhere. Cancel anytime.</h3>
        <h3 id=subsubtitle>Ready to watch? Enter your email to create or restart your membership.</h3>
    </div>
    <div>
        <div class="form-group">
            <input type="email" class="form-control" id="email" placeholder="Email Address">
            <button type="button" id="abc" class="btn btn-outline-danger btn-lg">Get Started ></button>
        </div>
    </div>
    <div>
        <a class="btn btn-danger" href="login">Sign In </a>
    </div>
</div>
</div>